QTabWidget::pane {
    background: @MenuBarBg;
}

QTabBar {
    background: @TabBarBg;
}

QTabBar::close-button {
    image: url(:/images/close-tab-white.png);
    width: 10px;
    padding: 2px;
    border-radius: 2px;
}

QTabBar::close-button::hover {
    background: rgba(255, 255, 255, 0.1);
}

QTabBar::tab {
    border: 1px solid @Border;
    color: @TextColor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabBar::tab:selected {
    background: @EditorWidgetBg;
    border-bottom: none;
}

QTabBar::tab:!selected {
    background: @TabBarBg;
}

QTabBar::tab:!selected:hover {
    background: @TabHover;
}

QTabBar::tab:bottom:!selected {
    margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    min-width: 8ex;
    margin-right: -1px;
    padding: 5px 10px 5px 10px;
}

QTabBar::tab:top:selected {
    border-bottom-color: none;
}

QTabBar::tab:bottom:selected {
    border-top-color: none;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

QTabBar::tab:left, QTabBar::tab:right {
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 10px 5px 10px 5px;
}

QTabBar::tab:left:selected {
    border-left-color: none;
}

QTabBar::tab:right:selected {
    border-right-color: none;
}

QTabBar::tab:left:last, QTabBar::tab:right:last,
QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
    margin-bottom: 0;
}

/*Editor widget*/

QPlainTextEdit {
    border: none;
    background: @EditorWidgetBg;
    color: @TextColor;
}

QWidget#LineNumberArea {
    background: @MenuBarBg;
    color: @TextColor;
}

/* Welcome widget */
QWidget#WelcomeWidget {
    background: @EditorWidgetBg;
}

QWidget#WelcomeWidget QPushButton {
    border: none;
    background: none;
    color: @LinkTextColor;
    font-size: 12px;
    padding: 0px;
}

QWidget#WelcomeWidget QPushButton::hover {
    text-decoration: underline;
}

QLabel#WelcomeLabel {
    font-size: 35px;
    color: @TextColor;
    margin-bottom: -10px;
}

QLabel#SecondaryLabel {
    font-size: 16px;
    color: @SecondaryTextColor;
    margin-top: -5px;
    margin-bottom: 10px;
}

/*Main window*/
QMenuBar {
    background: @MenuBarBg;
    color: @TextColor;
}

QMenuBar::item {
    background: transparent;
}

QMenuBar::item:pressed QMenuBar::item:selected {
    background: @MenuBarSelectedBg;
    border: 1px solid @Border;
}

QMenuBar::item:selected {
    background: @MenuBarSelectedBg;
    border: 1px solid @Border;
}

QMenu {
    background: @MenuBarBg;
    border: 1px solid @Border;
    color: @TextColor;
}

QMenu::item:selected {
    background: @MenuBarSelectedBg;
}
